* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
#box {
  float: right;
  height: fit-content;
  width: 50%;
}
.top,
.tile {
  border: 1px solid black;
}
.top {
  min-height: 14vh;
  font-size: 40px;
  width: 100%;
  background-color: rgb(235, 225, 230);
  word-wrap: break-word;
}
.tile {
  line-height: 5vh;
  height: 14vh;
  font-size: 5vh;
  width: 12.5%;
  float: left;
  background: #60606a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.tile:hover {
  opacity: 0.6;
}
#equals,
#ce {
  width:25%;
}
.uppersection {
  padding: 20px;
  float: left;
  width: 100%;
  background-color: rgb(144, 214, 225);
  text-align: center;
  font-size: 50px;
}
.calculator {
  width: 100vw;
  padding: 20px;
  float: left;
  background-color: #ddd;
}
footer {
  text-align: center;
  padding: 20px;
  width: 100vw;
  background-color: #c9e1f4;
  float: left;
  font-size: 30px;
}